/* body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
    margin: 0;
    padding: 0;
  } */

  h2, h3, h4 {
    color: #feca27;
  }

  section {
    color: #000;
    font-weight: 700;
    margin-bottom: 30px;
    border: 2px solid #000;
    padding: 40px 0;
    /* background-color: #f6f7f7; */
    box-shadow:
      0 2px 4px rgba(0, 0, 0, 0.1),
      0 8px 16px rgba(0, 0, 0, 0.1),
      0 16px 32px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
  }

  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }


  .mainhead
  {
      text-align: center;
  }

  .service-category {
    margin-bottom: 40px;
  }

  .service-category h4 {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .service-category p {
    font-size: 16px;
    line-height: 1.5;
  }

  .service-category ul {
    list-style-type: disc;
    padding-left: 20px;
  }

  .service-category li {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 10px;
  }

  .image-placeholder {
  /* width: 500px;
  height: 300px; */
  width: 50%;
  height: 40%;
  background-color: transparent;
  margin: 1em auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  }

  img{
    height: 25rem;
    width: 35rem;
  }

