/* .linkhover{
    border: 2px solid red;
    cursor: pointer;
} */

/* solar services images */

.imgsize300{
    border: 1px solid #333;
    height: 300px;
    width: 300px;
}

.imgsize500{
    /* height: 100%;
    width: 100%; */
    border-radius: 15px;
}

  /* mainlogocss */

  .mainlogo{
    height: 100%;
    width: 100%;
    overflow: hidden;
    /* background-image: ; */
  }

  .mainlogo img{
    height: 100%;
    width: 100%;
  }



  /* styling for the mission section */



  
  .missionvisionoutline {
    padding: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .missionvisionoutline .missionvision, .companyvalues{
    flex: 1;
    margin: 2.5%;
    padding: 1%;
    box-shadow: 0 0 45px rgba(0, 0, 0, 0.5);
  }
  
  section {
    margin-bottom: 30px;
    display: grid;
    place-items: center;
  }
  
  section h2 {
    font-size: 24px;
    margin: 10px 0px;
  }
  
  section p {
    font-size: 18px;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .icon {
    margin-right: 10px;
  }
  


