/* .linkhover{
    border: 2px solid red;
    cursor: pointer;
} */

/* solar services images */

.imgsize300{
    border: 1px solid #333;
    height: 300px;
    width: 300px;
}

.imgsize500{
    /* height: 100%;
    width: 100%; */
    border-radius: 15px;
}

  /* mainlogocss */

  .mainlogo{
    height: 100%;
    width: 100%;
    overflow: hidden;
    /* background-image: ; */
  }

  .mainlogo img{
    height: 100%;
    width: 100%;
  }



  /* styling for the mission section */



  
  .missionvisionoutline {
    padding: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .missionvisionoutline .missionvision, .companyvalues{
    flex: 1;
    margin: 2.5%;
    padding: 1%;
    box-shadow: 0 0 45px rgba(0, 0, 0, 0.5);
  }
  
  section {
    margin-bottom: 30px;
    display: grid;
    place-items: center;
  }
  
  section h2 {
    font-size: 24px;
    margin: 10px 0px;
  }
  
  section p {
    font-size: 18px;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .icon {
    margin-right: 10px;
  }
  

/* styling for the color chaning header */

.animate-charcter
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
      /* font-size: 190px; */
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}


/* custome css for the sevice section  */

.servicecontainer{
  width: 100%;
  /* min-height: 100vh; */
  background-color: #f7f7f7;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 90px;
}

.servicecontener-content{
  display: flex;
  justify-content: center;
  text-align: center;
}

.servicecontener-content .servicecard{
  flex: 1;
  margin: 20px 20px;
  box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.2);
  border-radius: 1rem;
}


.servicecontener-content .servicecard img{
  width: 22rem;
  height: 20rem;
  padding: 2%;
}

.servicecontener-content .servicecard h2{
  margin: 15px 0px;
  font-size: 28px;
  color: #1662a1;
  font-family: sans-serif;
}

.servicecontener-content .servicecard p{
  font-size: 16px;
  line-height: 1.5;
  padding: 0px 10px;
  margin-bottom: 20px;
  font-family: sans-serif;
}

@media screen and (max-width: 768px){
  .servicecontener-content{
    flex-direction: column;
  }
}